body{
	background-color: powderblue;
	margin: 0;
}
h1{
	text-align: center;
}


h1 img{
	border-radius: 150px;
	width: 300px;
}

h1{
font-family: cursive;
}

h2{
font-family: cursive;
}

p{
font-family: cursive;
}

h3{
font-family: cursive;
}

h4{
font-family: serif;
color: red;
text-align: center;
padding-bottom: 100px;
}

h6{
padding-bottom: 100px;
}

h5{
font-family: monospace;
text-align: center;
}

.techno{
	font-size: 20px;
}
.banana{
	font-size: 20px;
}